<div class="fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
  <div x-show="success"
  x-transition:enter="transform ease-out duration-300 transition"
  x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
  x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0"
  x-transition:leave="transition ease-in duration-100"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="max-w-sm w-full bg-black border border-pink rounded-md pointer-events-auto">
    <div class="rounded-md overflow-hidden">
      <div class="p-4">
        <div class="flex items-start">
          <div class="pt-0.5 flex-1">
            <p class="tracking-wider font-display uppercase text-pink leading-5 lg:leading-6 text-sm lg:text-base">
              {{ notification_title }}
            </p>
            <p class="mt-2 font-display text-white text-sm lg:text-base leading-5 lg:leading-6 lg:text-base">
              {{ notification_message }}
            </p>
          </div>
          <div class="ml-4 flex-shrink-0 flex">
            <button @click="success = false;" class="inline-flex text-pink focus:outline-none hover:text-white focus:text-white transition ease-in-out duration-150">
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>