<div
  x-show="subscribeVisible"
  x-data="subscribe()"
  x-transition:enter="transform transition-all ease-out duration-1000"
  x-transition:enter-start="opacity-0 translate-y-4 scale-95"
  x-transition:enter-end="opacity-100 translate-y-0 scale-100"
  x-cloak
  x-init="setTimeout(() => { subscribeVisible = true  }, 1000), setTimeout(() => { $refs.email.focus() }, 1300)">
  <div class="mt-10 lg:mt-0 mx-auto max-w-sm">
    <p class="lg:-mt-5 tracking-wider uppercase text-pop leading-5 lg:leading-6 text-sm lg:text-base">
      {{ label }}
    </p>
    <h2 class="mt-2 lg:mt-3 max-w-3xl font-bold text-xl lg:text-2xl leading-6 lg:leading-8 text-white font-display">
      {{ description }}
    </h2>
    <div class="mt-5 lg:mt-6">
      {{ form:create in="subscribe" id="subscribe" x-ref="form" }}
        {{ fields }}
          <input {{ if handle == "email" }}type="email"{{ elseif handle=="idea" }}type="text" x-show="email"{{else}}type="text"{{/if}} placeholder="{{ placeholder }}" aria-label="{{ display }}" name="{{ handle }}" x-ref="{{ handle }}" x-model="{{ handle }}" value="{{ old }}" autocomplete="off" class="rounded-none {{ if first }}rounded-t-md -mb-px{{/if}} appearance-none tracking-wide w-full px-5 py-3 border border-pop bg-transparent text-sm lg:text-base leading-5 lg:leading-6 text-pop placeholder-pop focus:outline-none focus:placeholder-white focus:text-white transition duration-150 ease-in-out" />
        {{ /fields }}
        <button @click.prevent="submitForm($refs)" :disabled="!email" :class="{ 'text-black': !email, 'text-white': email }" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-sm lg:text-base leading-5 lg:leading-6 rounded-b-md uppercase tracking-wider bg-pop hover:bg-opacity-75 focus:outline-none focus:bg-opacity-75 transition duration-150 ease-in-out">
          {{ button }}
        </button>
      {{ /form:create }}
    </div>
  </div>
  {{ partial:notification }}
</div>

<script>
  function subscribe () {
    return {
      errors: [],
      subscribeVisible: false,
      success: false,
      email: '',
      idea: '',
      submitForm() {
        axios.post(this.$refs.form.action, new FormData(this.$refs.form))
        .then(response => {
          if (response.data.success) {
            this.errors = [];
            this.success = true;
            this.$refs.form.reset();
          }
        });
      }
    }
  }
</script>
