<div class="absolute inset-y-0 mx-auto w-full h-full lg:w-2/3 fade overflow-hidden">
  <pre class="scroll font-mono text-pink opacity-50 text-xs lg:text-base leading-relaxed">{{ loop times="4" }}{{ code }}{{/loop}}</pre>
</div>

<div class="relative pb-16">
    {{ svg:fieldset class="w-full max-w-xs lg:max-w-sm text-white" }}
    <div class="mt-6 tracking-wider font-display uppercase text-sm lg:text-base text-center text-white lg:text-left">
      Fieldsets, blueprints &<br class="lg:hidden"/> forms for
      <a href="https://statamic.com" class="group text-pink hover:text-black text-base lg:text-lg">
        {<span class="text-white text-sm lg:text-base group-hover:text-pink">Statamic</span>}
      </a>
    </div>
</div>
