<main class="relative flex items-center justify-center max-w-screen-xl mx-auto h-screen px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
  <div class="mx-auto max-w-3xl">
    <p class="lg:-mt-5 tracking-wider font-display uppercase text-pink leading-5 lg:leading-6 text-sm lg:text-base">
      {{ title }}
    </p>
    <h2 class="mt-2 lg:mt-3 max-w-3xl text-xl lg:text-2xl leading-6 lg:leading-8 text-white font-display">
      {{ subtitle }}
    </h2>
    <div class="mt-5 lg:mt-6">
      {{ form:create class="grid grid-cols-1 row-gap-6 sm:grid-cols-2 sm:col-gap-8" in="music_album" }}

        <div class="sm:col-span-2">
          <label for="title" class="block text-base font-display uppercase tracking-wide leading-8 text-pink">Title</label>
          <input type="text" name="title" value="{{ example:title }}" class="rounded-none rounded-md appearance-none font-display tracking-wide w-full px-5 py-3 border border-pink bg-transparent text-sm lg:text-base leading-5 lg:leading-6 text-white placeholder-pink focus:outline-none focus:placeholder-white focus:text-white transition duration-150 ease-in-out" />
        </div>
        {{ fields }}
          {{ if handle == "artwork" }}
            <div>
              {{ svg src="/assets/examples/bowie.svg" class="w-full" }}
              <p class="mt-2 font-display text-white text-center text-sm lg:text-base leading-5 lg:leading-6 lg:text-base">
                {{ example:artwork }}
                  {{ basename }}
                {{ /example:artwork }}
              </p>
            </div>
            <div></div>
          {{ else }}
            <div {{ if width == '100'}}class="sm:col-span-2"{{/if}}>
              <label for="{{ handle }}" class="block text-base font-display uppercase tracking-wide leading-8 text-pink">{{ display }}</label>
              <input placeholder="{{ placeholder }}" type="{{ input_type ?? 'text' }}" name="{{ handle }}" value="{{ old }}" class="rounded-none rounded-md appearance-none font-display tracking-wide w-full px-5 py-3 border border-pink bg-transparent text-sm lg:text-base leading-5 lg:leading-6 text-pink placeholder-pink focus:outline-none focus:placeholder-white focus:text-white transition duration-150 ease-in-out" />
            </div>
          {{ /if }}
        {{ /fields }}
      {{ /form:create }}
    </div>
  </div>
</main>
