@font-face {
  font-family: 'Nexa';
  src: url('../fonts/NexaBold.woff2') format('woff2'), url('../fonts/NexaBold.woff') format('woff');
}

@font-face {
  font-family: 'Nexa';
  font-weight: bold;
  src: url('../fonts/NexaBlack.woff2') format('woff2'), url('../fonts/NexaBlack.woff') format('woff');
}

.fade:after {
  content:'';
  @apply absolute inset-0 pointer-events-none;
  background-image: scrim(to bottom, theme('height.1/4'), theme('colors.black')), scrim(to top, theme('height.1/4'), theme('colors.black'));
}

.scroll {
  animation-name: scrollSmall;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

[x-cloak] {
  @apply hidden;
}

@screen lg {
  .scroll {
    animation-name: scrollLarge;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin:50% 100%;
  }
}

@keyframes scrollSmall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2508px);
  }
}

@keyframes scrollLarge {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3432px);
  }
}
