<div class="{{ if width == 50 }}sm:col-span-1{{ else }}sm:col-span-2{{/if}}">
  <label for="{{ handle }}" class="block text-base uppercase tracking-wide leading-8 text-pink">{{ display }}</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      {{ svg:calendar class="w-5 h-5 text-pink" }}
    </div>
    <input id="{{ handle }}" readonly class="form-input w-full lg:text-base transition duration-150 ease-in-out pl-10" value="{{ value format='m/d/Y' }}" placeholder="{{ placeholder }}" />
  </div>
</div>