<div class="{{ partial:fields/width }}">
  <label for="{{ handle }}" class="block text-base uppercase tracking-wide leading-8 text-fs-dark">{{ display }}</label>
  {{ value }}
  <a href="/{{ handle|singular }}" class="group flex rounded-md border border-light bg-gray hover:border-fs-light hover:bg-fs-dark transition duration-150 ease-in-out transform hover:-translate-y-px">
    <span class="inline-flex items-center py-3 rounded-l-md text-fs-dark border-r border-black border-opacity-75 group-hover:text-black">
      {{ svg:drag-dots class="h-5 w-5 text-fs-dark group-hover:text-black fill-current stroke-current" }}
    </span>
    <div class="flex text-white group-hover:text-black items-center justify-between flex-1 px-3 rounded-l-none lg:text-base transition duration-150 ease-in-out">
      <span class="inline-flex items-center">
        {{ svg:dot class="mr-1.5 h-2 w-2 text-fs-dark group-hover:text-black" }}
        {{ title }}
      </span>
      <span class="text-xs uppercase tracking-wide text-fs-dark group-hover:text-black">{{ display }}</span>
    </div>
  </a>
  {{ /value }}
</div>