
<div class="{{ partial:_partials/width }} flex flex-col">
  <label for="{{ handle }}" class="block text-base uppercase tracking-wide leading-8 text-{{ color.label }}">{{ display }}</label>
  <div class="align-middle inline-block min-w-full rounded-md border border-light bg-gray overflow-hidden">
    <table class="min-w-full table-fixed">
      <thead>
        <tr>
          <th class="w-5 py-3 border-b border-black"></th>
          {{ fields }}
          <th class="px-3 py-3 border-b border-black text-left text-xs leading-4 text-{{ color.label }} uppercase tracking-wider">
            {{ field:display }}
          </th>
          {{ /fields }}
        </tr>
      </thead>
      <tbody class="divide-y divide-black">
        {{ foreach:value as="i|row" }}
        <tr>
          <td class="text-center py-4 border-r border-black">
            {{ svg src="drag-dots" class="inline-block h-5 w-5 text-{{ color.label }} fill-current stroke-current" }}
          </td>
          {{ foreach:row as="j|col" }}
            {{ col | dump }}
            {{ j | dump }}
            {{ fields[increment] | dump }}
            {{ "--------------------"| dump }}
            <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-{{ color.label }}">
               <input readonly 
               placeholder="{{ placeholder }}" 
               type="{{ input_type ?? 'text' }}" 
               name="{{ handle }}" 
               value="{{ col.value }}" 
               class="form-input form-input-{{ color.label }} bg-black lg:text-base w-full transition duration-150 ease-in-out" />
            </td>
            {{ partial_fallback src="fields/{type}d,fields/missing" }}
          {{ /foreach:row }}
        </tr>
        {{ /foreach:value }}
      </tbody>
    </table>
  </div>
</div>